<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <form [formGroup]="form" #f="ngForm" (ngSubmit)="createPost()">
          <fieldset
            class="form-group"
            [class.has-danger]="isInvalid(f, 'title')"
          >
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Post Title"
              formControlName="title"
            />
            <div
              class="form-control-feedback"
              *ngIf="isInvalid(f, 'title') && form.controls.title.errors"
            >
              <div *ngIf="form.controls.title.errors['required']">
                請輸入標題
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <textarea
              class="form-control"
              rows="3"
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </fieldset>
          <fieldset
            class="form-group"
            [class.has-danger]="isInvalid(f, 'body')"
          >
            <textarea
              class="form-control"
              rows="8"
              placeholder="Post body"
              [formControl]="form.controls.body"
            ></textarea>

            <div *ngIf="isInvalid(f, 'body') && form.controls.body.errors">
              <div *ngIf="form.controls.body.errors['required']">
                請輸入內容
              </div>
              <div *ngIf="form.controls.body.errors['minlength']">
                內容長度不合
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter tags"
              [(ngModel)]="tag"
              [ngModelOptions]="{ standalone: true }"
              (keyup.enter)="addTag($event)"
            />
            <div class="tag-list" formArrayName="tagList">
              <ng-container
                *ngFor="
                  let tagCtrl of form.controls.tagList.controls;
                  let index = index
                "
              >
                <span
                  class="label label-pill label-default"
                  [formGroupName]="index"
                >
                  <i class="ion-close-round" (click)="removeTag(index)"></i>
                  {{ tagCtrl.value }}</span
                >
              </ng-container>
            </div>
          </fieldset>
          <button
            type="submit"
            class="btn btn-lg btn-primary pull-xs-right"
            [disabled]="f.submitted && f.invalid"
          >
            Create Post
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
